.container-with-button{
  padding-top:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Title{
  color: white;
  padding-bottom: 40px;
  padding-right: 140px;
  text-align: left; /* Align text to center */
  font-size: 36px;
}
.upload-button-container{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.upload-button{
  background-color: #79b5ac; /* Example button styling */
    color: #ffffff; /* Example button text color */
    border: none;
    border-radius: 50%;
    width: 56px; /* Standard Material Design FAB size */
    height: 56px; /* Standard Material Design FAB size */
    font-size: 24px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.my-container{
  max-width: 850px;
  height: 200px;
  color: #ddd;
  overflow: auto;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color:  #191927;
}

.button-notClicked{
  padding: 2px 3px;
  word-wrap: break-word;
  width: 285px;
  max-height: 600px;
  line-height: 1.5;
  background-color: #79b5ac;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}
.button-correct{
  padding: 2px 3px;
  background-color: #fff000;
  border: none;
  width: 285px;
  max-height: 600px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;

}
.button-wrong{
  padding: 2px 3px;
  background-color: #ff0000;
  width: 285px;
  max-height: 600px;
  line-height: 1.5;
  word-wrap: break-word;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

body{
  background-color: #0a0a10;
}

